<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="align-content">     
        今天的Code Review人员：
    </div>
    <table align="center" border="1" cellpadding="0" cellspacing="0">
        <thead style="padding:0px">
            <tr>
                <th>Review Date</th>
                <th>Reviewer</th>
                <th>Executor</th>
                <th>Portal</th>
            </tr>
        </thead>
        <tbody>
            {{#Data}}
            <tr>
                <td><span>{{ReviewDate}}</span></td>
                <td><span>{{Reviewer.Name}}</span></td>
                <td><span>{{Fixer.Name}}</span></td>
                <td><span>{{ReviewPortal}}</span></td>
            </tr>
            {{/Data}}
        </tbody>
    </table>
    <div style="align-content">
        根据反馈，我们已将每天三组Code Review改为每天两组，第一组review internal的代码，第二组review affiliate和client的代码，并在对应组<a href="http://confluence.sms-assist.com/display/SMSON/Code+Review"> Code Review</a>文件下进行记录。<br />
        Reviewer职责：Review代码<br />
        Executor职责：找到对应开发者并督促其修改。<br />
        注意：如果未完成，将执行扣分机制，请重视。
        <br />

        我们今后Affiliate、Client、Internal的Code Review将一起进行，此法令已经Flysha, Zuo, Susan签字通过。<br />
        <br />

        Code Review抽奖程序源代码(欢迎提出想法、提交PR): <br />
        <a href="https://github.com/starlight-sms/code-review-job">https://github.com/starlight-sms/code-review-job</a><br />
        <br />
    </div>
</body>
</html>