<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="align-content">
        各位亲爱的开发，我们搞了一个Code Review抽奖程序，源代码在：<br />
        <a href="https://github.com/starlight-sms/code-review-job">https://github.com/starlight-sms/code-review-job</a>
        <br />
        <br />
        我们今后Affiliate、Client、Internal的Code Review将一起进行，此法令已经Flysha, Zuo, Susan签字通过。
        <br />
        <br />
        请抽到奖的同事，在限定的当天内，进行Code Review，当天在confluence中<strong>自行</strong>记录：<br />
        <a href="http://confluence.sms-assist.com/display/SMSON/Code+Review+per+Week">http://confluence.sms-assist.com/display/SMSON/Code+Review+per+Week</a>
        <br />
        <br />
    </div>
    <table align="center" border="1" cellpadding="0" cellspacing="0">
        <thead style="padding:0px">
            <tr>
                <th>Department</th>
                <th>ReviewDate</th>
                <th>CodeReview</th>
                <th>UpdateCode</th>
            </tr>
        </thead>
        <tbody>
            {{#Data}}
            <tr>
                <td><span>{{Department}}</span></td>
                <td><span>{{ReviewDate}}</span></td>
                <td><span>{{CodeReviewName}}</span></td>
                <td><span>{{UpdateCodeName}}</span></td>
            </tr>
            {{/Data}}
        </tbody>
    </table>
</body>
</html>